<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wcare.android.gocoro">

    <!--
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    -->

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- download apk -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".GoCoRoApplicatoin"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver android:name=".DownloadCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <service android:name=".core.BackgroundService" />

        <activity
            android:name=".ui.ActivityMain"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.ActivityPlot"
            android:label=""
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.ActivityForm"
            android:label="@string/activity_form"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.ActivityStartRoast"
            android:label="@string/activity_start_roast"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".ui.ActivityCupping"
            android:label="@string/activity_cupping"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.ActivityProfilePicker"
            android:label="@string/activity_profile_picker"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ActivityCuppingList"
            android:label="@string/activity_cupping_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ActivityNewsList"
            android:label="@string/activity_news"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ActivityAbout"
            android:label="@string/activity_about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ActivityCoporate"
            android:label="@string/activity_coporate"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ActivityWebView"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.ActivityLeScan"
            android:label="@string/activity_le_scan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ActivityClassicScan"
            android:label="@string/activity_le_scan"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>